body{
    background: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.filter{
    width: 100vw;
    height: 100vh;
    background-color: #fafafa10;
    backdrop-filter: blur(0.3rem);
}
p{
    font-family: 'Ubuntu';
}
*{
    font-family: 'Beni';
}
.list-container ul li{
list-style: none;
}
button{
    background-color: #fafafa00;
    border: none;
    color: #ffffff;
}

.list-container ul li button{
    background-color: #fafafa00;
    border: none;
    color: white;
    font-size: 4rem;
    transition: all .2s ease-in-out;

}
.list-container ul li button:hover{
    color: rgb(255, 80, 80);
    font-size: 5em;
    transition: all .2s ease-in-out;
}
.square{
    transform: rotate(45deg);
    background-color: white;
    height: 8px;
    width:  8px;
}
.aside{
    width: 3vw;
    height: 100vh;
    position: absolute;
    right: 0;
}
.footer{
    height: 5vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
.footer img{
    height: 5vh;
}
#inventoryWindow{
    width: 100vw;
    height: 100vh;
    background-color: #0059ff36;
    backdrop-filter: blur(.5rem);
    position: absolute;
    display: none;
}

h2{
    font-family: 'Ubuntu';
}

.smg{
    height: 80px !important;
}
.sidearm{
    height: 80px !important;
}
p{
    background-color: #fafafa80;
}
.weapon-smg{
    display: block;
    width: auto;
    margin: auto;
    margin-top: 32px;
    background-color: #fafafa50;
    backdrop-filter: blur(10rem);
}
.weapon-side{
    display: block;
    width: auto;
    margin: auto;
    margin-top: 32px;
    background-color: #fafafa50;
    backdrop-filter: blur(10rem);
}
.weapon-shotgun{
    display: block;
    width: auto;
    margin: auto;
    margin-bottom: 28px;
    background-color: #fafafa50;
    backdrop-filter: blur(10rem);
}
.shotgun-container{
    margin-top: 160px;
    margin-bottom: none;
}
.shotgun{
    height: 80px !important;
}